.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer {
    flex: 1;
}

.imageContainer {
    flex: 1;
    height: 350px;
    position: relative;
}

.image {
    object-fit: cover;
}